* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  width:100%;
  height: 100vh;
  background-color: lightblue;
}
.header{
  height:100px;
  background-color: #346ccb;
  color:white;
  font-size: 50px;
  padding top:50px;
}
#logo{
  margin-top: 50px;
}
.cerca{
  height:70px;
  display:flex;
  justify-content:center;
  align-items: center;
  background-color: lightgrey;
}
.icons{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: grey;
}
.icons .icon{
flex-basis: calc(100% / 6);
margin:10px;
padding:15px;
background-color: white;
border-radius: 30px;
text-align: center;
filter: drop-shadow(2px 2px 2px rgba(13, 11, 12, 0.59));
}
.icons .icon i{
  font-size: 30px;
  color:blue;
}
